<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
<HEAD>
  <TITLE>$PROJECTTITLE</TITLE>
</HEAD>
<frameset rows="33,*" frameborder="0" framespacing="0">
  <frame name="head" marginwidth="0" marginheight="0" scrolling="No" noresize src="wh_head.htm">
  <frameset cols="30%,*" framespacing="1">
    <frame name="left" src="wh_toc.htm">
    <frame name="right" src="$DEFTOPIC">
    <noframes>
      Your browser does not handle frames! This feature is needed to view this WebHelp manual.
    </noframes>
  </frameset>
</frameset>
</HTML>
