<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
  <meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1251">
  <title>Указатель</title>
</head>
<body LINK="#0000FF" VLINK="#800080" bgcolor="buttonface" topmargin="4" leftmargin="5">
  <form style="font-family:'Segoe UI, Tahoma, Arial';font-size:9pt;">
  <input TYPE="button" VALUE=" Содержание " ONCLICK="location = 'wh_toc.htm';" NAME="Help Topics">
  <input TYPE="button" VALUE="   Указатель   " ONCLICK="location = 'wh_index.htm';" NAME="Index"><br>

  <object id="hhctrl" type="application/x-oleobject" classid="clsid:ADB880A6-D8FF-11CF-9377-00AA003B7A11"
    codebase="hhctrl.ocx" width="99%" height="92%" align="center" vspace="3">
    <param name="Command" value="Index">
    <param name="Item1" value="$HHK">
  </object>
  </form>
</body>
</html>
