<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
  <meta http-equiv="Content-Language" content="pl-PL">
  <meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
  <title>Indeks</title>
  <style>UL {margin-left:0px;padding-left:18px;}</style>
</head>
<body LINK="#0000FF" VLINK="#800080" topmargin="4" leftmargin="5">
  <form style="font-family:'Segoe UI, Tahoma, Arial';font-size:9pt;">
  <input TYPE="button" VALUE=" Spis treści " ONCLICK="location = 'wh_toc.htm';" NAME="Help Topics">
  <input TYPE="button" VALUE=" Indeks " ONCLICK="location = 'wh_index.htm';" NAME="Index"><br>

<ul>
$INDEX</ul>

  </form>
</body>
</html>
